<div id="appContainer">
    <h1>Your IP Address</h1>

    <mat-card class="main">
        <button mat-button color="primary" (click)="toggleIP()">{{buttonIP}}</button>
        <ng-container *ngIf="showIP">
            <ul *ngIf="ipData">
                <li>{{ipData.ip}}</li>
            </ul>
        </ng-container>
        <button mat-button color="primary" (click)="toggleCountry()">{{buttonCountry}}</button>
        <ng-container *ngIf="showCountry">
            <ul *ngIf="ipData">
                <li>{{ipData.country}}</li>
            </ul>
        </ng-container>
        <h4>IPs on record</h4>
        <button mat-button color="primary" (click)="sort()">Sort</button>
        <ul>
            <li class="ipRecord" *ngFor="let ip of ipListRes">{{ip}}</li>
        </ul>
    </mat-card>
</div>